<footer>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li>
        <div class="logo"><h2>BestDeals</h2></div>
      </li>
      <li><p>Customer Supports:</p></li>
      <li>+123-123-123-214</li>
      <li><p>4517 Washington Ave. Manchester, Kentucky 39495</p></li>
      <li><p>info@kinbo.com</p></li>
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>TOP CATEGORIES</h5></li>
      <li><a href="#">Computer & Laptop</a></li>
      <li><a href="#">SmartPhone</a></li>
      <li><a href="#">Headphone</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Camera & Photo</a></li>
      <li><a href="#">TV & Homes</a></li>
      <li><a href="#">Browse All Products</a></li>
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>QUICK LINKS</h5></li>
      <li><a href="#">Shop Product</a></li>
      <li><a href="#">Shopping Cart</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a href="#">Compare</a></li>
      <li><a href="#">Track Order</a></li>
      <li><a href="#">Customer Help</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>DOWNLOAD APP</h5></li>
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>POPULAR TAGS</h5></li>
    </ul>
  </div>
</footer>
