<div class="header">
  <div class="offer_div">
    <div class="welcome">
      <p>Welcome to BestDeals online eCommerce store.</p>
    </div>
    <div class="social_media">
      <ul class="social_media_links">
        <li><p>Follow us:</p></li>
        <li>
          <img
            src="/user/icons/facebook.svg"
            class="icon"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <img
            src="/user/icons/pinterest.svg"
            class="icon"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <img
            src="/user/icons/reddit.svg"
            class="icon"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <img
            src="/user/icons/youtube.svg"
            class="icon"
            alt=""
            srcset=""
          />
        </li>
        <li>
          <img
            src="/user/icons/instagram.svg"
            class="icon"
            alt=""
            srcset=""
          />
        </li>
        <li>|</li>
        <li>
          <div class="custom-select">
            <select name="" id="">
              <option value="">Eng</option>
              <option value="">Spa</option>
              <option value="">Fra</option>
            </select>
            <span class="custom-arrow"></span>
          </div>
        </li>
        <li>
          <div class="custom-select">
            <select name="" id="">
              <option value="">USD</option>
              <option value="">INR</option>
              <option value="">JPY</option>
            </select>
            <span class="custom-arrow"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar">
    <div class="logo"><p>BestDeals</p></div>
    <input class="search_input" type="text" />
    <div class="navbar_icons d-none d-md-flex">
      <li>
        <img src="/user/icons/cart.svg" class="icon" alt="" srcset="" />
      </li>
      <li>
        <img
          src="/user/icons/suit-heart-fill.svg"
          class="icon"
          alt=""
          srcset=""
        />
      </li>
      <li>
        <img src="/user/icons/person.svg" class="icon" alt="" srcset="" />
      </li>
    </div>
    <div class="dropdown d-md-none">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="iconDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="iconDropdown">
        <li>
          <a class="dropdown-item" href="#"
            ><img src="/icons/cart.svg" class="icon" alt="" /> Cart</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#"
            ><img
              src="/user/icons/suit-heart-fill.svg"
              class="icon"
              alt=""
            />
            Wishlist</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#"
            ><img src="/user/icons/person.svg" class="icon" alt="" />
            Profile</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center align-items-center"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Track Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Need help</a>
        </li>
      </ul>
      <span class="navbar-text"> +1-234-567-8901 </span>
    </div>
  </div>
</nav>
<nav
  class=""
  style="--bs-breadcrumb-divider: '>'; background-color: #f2f4f5; height: 70px"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb d-flex align-items-center">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
